/.directory
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build*
/*.user

site/images/
/PlotJugglerInstaller

# Temp folders for local binary creation
obj-x86_64-linux-gnu
debian

# Clion (JetBrains IDE related files and directories)
.idea
cmake-build-*

installer/io.plotjuggler.application/data
